@media (min-width: 320px) and (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
    }
    .header {
        display: flex;
        background: #222222;
        min-height: 75px;
        justify-content: space-between;
    }
    body {
        max-width: 375px;
    }
    .header__left {
        gap: 41px;
        display: flex;
    }
    .header__right {
        margin-top: 25px;
        padding-right: 16px;
    }
    .Group {
        padding-left: 16px;
        padding-top: 16px;
    }
    .Forma {
        margin-top: 28px;
        padding-right: 16px;
    }
    .img_content_top {
        margin-top: 150px;
        margin-left: 55px;
    }
    .top_content {
        display: flex;
        background: #F1E4E6;
        min-height: 363px;
        justify-content: center;
    }
    .promo_content {
        padding-left: 32px;
        margin-top: 150px;
        margin-bottom: 152px;
    }
    .promo_text {
        color: #222;
        font-family: Lato;
        font-size: 38px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
    .promo_text1 {
        color: #222;
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .sale_img {
        margin-top: 64px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .sale_img1 {
        max-width: 343px;
    }
    .sale_item1 {
        position: relative;
        text-align: center;
        color: white;
    }
    .centered {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text1__item1 {
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .text2__item1 {
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .sale_img11 {
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .product-box__heading {
        color: #222;
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
    .product-box__text {
        color: #9F9F9F;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
    .product-box {
        padding-top: 64px;
        padding-left: calc(50% - 720px);
        padding-right: calc(50% - 720px);
    }
    .product__price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
    }
    .product__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }
    .product__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
    }
    .product__content {
        background: #F8F8F8;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 24px 16px;
        gap: 16px;
    }
    .product-box__content {
        margin-top: 48px;
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        gap: 30px;
    }
    .product__add {
        position: absolute;
        top: 33%;
        left: 33%;
        border: 1px solid #fdfdfd;
        width: 139px;
        height: 44px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        text-decoration: none;
    }
    a:-webkit-any-link {
        color: -webkit-link;
        cursor: pointer;
        text-decoration: underline;
    }
    .product {
        position: relative;
        flex-shrink: 0;
    }
    .bot_conntent {
        position: relative;
    }
    .product__img1 {
        padding-left: 75px;
        padding-top: 32px;
    }
    .overlay-text {
        padding: 20px;
        text-align: center;
        position: absolute;
        top: 65%;
        right: 50%;
        transform: translate(50%, -50%);
    }
    .overlay-text1 {
        color: #F26376;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    img {
        max-width: 100%;
    }
    a:link {
        text-decoration: none!important;
        color: #FFFFFF;
    }
    summary {
        display: block;
    }
    h5 {
        position: absolute;
        left: 35px;
        top: 11px;
        color: #FFF;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media (max-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        font-family: 'Lato', sans-serif;
    }
    img {
        max-width: 100%;
    }
    a {
        text-decoration: none;
    }
    summary {
        display: block;
    }
    .center {
        padding-left: calc(50% - 768px);
        padding-right: calc(50% - 768px);
    }
    .top {
        position: relative;
        overflow: hidden;
    }
    .header {
        min-height: 75px;
        background: #222222;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-left: calc(50% - 768px);
        padding-right: calc(50% - 768px);
    }
    .header__left {
        display: flex;
        align-items: center;
        gap: 41px;
    }
    .promo {
        display: flex;
        background: #F1E4E6;
        padding-left: calc(50% - 768px);
        padding-right: calc(50% - 768px);
    }
    .promo_img {
        max-width: 50%;
    }
    .promo_content {
        border-left: 12px solid #F16D7F;
        padding-left: 16px;
        margin-top: 48%;
    }
    .promo_content1 {
        color: #222;
        font-family: Lato;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
    .promo_content1 {
        color: #222;
        font-family: Lato;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .sale_content {
        position: relative;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 64px;
        padding-bottom: 96px;
        padding-left: calc(50% - 570px);
        padding-right: calc(50% - 570px);
    }
    .centered {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container {
        position: relative;
        color: white;
    }
    .sale_item1 {
        position: relative;
        text-align: center;
        color: white;
    }
    .text1__item1 {
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .text2__item1 {
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    .sale_item1_big {
        min-height: 180px;
        grid-column: 1 / -1;
        position: relative;
    }
    .center {
        padding-left: calc(50% - 570px);
        padding-right: calc(50% - 570px);
    }
    .top {
        position: relative;
        overflow: hidden;
    }
    .header {
        min-height: 75px;
        background: #222222;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .header__left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 41px;
    }
    .header__right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 33px;
    }
    .promo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: #F1E4E6;
        padding-left: calc(50% - 800px);
        padding-right: calc(50% - 800px);
    }
    .promo__img {
        width: 50%;
    }
    .promo__info {
        border-left: 12px solid #F16D7F;
        padding-left: 16px;
        margin-top: 48%;
    }
    .promo__title {
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: #222222;
    }
    .promo__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #222222;
    }
    .promo__content {
        padding-left: 64px;
    }
    .sale {
        display: -ms-grid;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 64px;
        padding-bottom: 96px;
    }
    .sale__item {
        position: relative;
    }
    .sale__content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sale__item_big {
        min-height: 180px;
        grid-column: 1 / -1;
    }
    .sale__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }
    .sale__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #F16D7F;
    }
    .product-box {
        padding-bottom: 96px;
    }
    .product-box__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #222222;
    }
    .product-box__text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 6px;
        color: #9F9F9F;
    }
    .product-box__content {
        margin-top: 48px;
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 30px;
    }
    .product {
        position: relative;
        flex-shrink: 0;
    }
    .product:hover .product__img {
        -webkit-filter: brightness(0.5);
        filter: brightness(0.5);
    }
    .product:hover .product__add {
        display: flex;
    }
    .product__img {
        width: 100%;
    }
    .product__add {
        position: absolute;
        top: 25%;
        left: 40%;
        border: 1px solid #fff;
        width: 139px;
        height: 44px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: none;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
    }
    .product__add:hover {
        -webkit-box-shadow: 0 0 5px #fff;
        box-shadow: 0 0 5px #fff;
    }
    .product__add:hover svg path {
        fill: #F16D7F;
    }
    .product__content {
        background: #F8F8F8;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 24px 16px;
        gap: 16px;
    }
    .product__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
    }
    .product__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }
    .product__price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
    }
    .advantages {
        background-color: #222222;
        padding-top: 104px;
        padding-bottom: 104px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .advantages__item {
        width: 360px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .advantages__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FBFBFB;
    }
    .advantages__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }
    .head {
        min-height: 148px;
        background: #F8F3F4;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .head__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #F16D7F;
    }
    .breadcrumb {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .sort {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 28px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .sort__details {
        position: relative;
    }
    .sort__summary {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 10px;
    }
    .sort__content {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 6px;
        width: 79px;
        padding: 7px 9px 11px;
        background: #FFFFFF;
        -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        z-index: 1;
        top: 22px;
        left: -9px;
    }
    .button {
        width: 212px;
        height: 48px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border: 1px solid #F16D7F;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 22px;
        -webkit-transition: all 1s;
        transition: all 1s;
    }
    .content {
        background-color: #fff;
        border: 1px solid #EAEAEA;
        padding-top: 64px;
        padding-bottom: 64px;
        max-width: 1140px;
        margin: -65px auto 0;
        position: relative;
        z-index: 10;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product__img1 {
        padding-left: 470px;
        padding-top: 32px;
    }
    .bot_conntent {
        position: relative;
    }
    .overlay-text {
        padding: 20px;
        text-align: center;
        position: absolute;
        top: 65%;
        right: 50%;
        transform: translate(50%, -50%);
    }
    .overlay-text1 {
        color: #F26376;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}